.btnTitle {
    text-decoration: none;
    color: rgb(26, 32, 44);
    display: flex;
    padding: 10px 8px;
    transition: all 0.3s;
    align-items: center;
    font-weight: normal;
    margin-right: 8px;
    border-radius: 100px;

    &:hover {
        background-color: #EDF2F7;
    }
}

.btnChoose {
    color: #1a202c;
    height: 100%;
    display: flex;
    position: relative;
    font-size: 15px;
    transition: all 0.3s;
    align-items: center;
    font-weight: 600;
    line-height: 18px;
    margin-right: 24px;
    cursor: pointer;

    &:hover {
        color: #FF3366;
        text-decoration: none;
    }
}

.active {
    color: #FF3366;
}

.active__css {
    left: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    position: absolute;
    justify-content: center;
}

.active__css1 {
    width: 100%;
    height: 3px;
}