.form {
    &__sub {
        border-radius: 8px;
        color: #1a1a1a;
        font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        background-color: #ffb700;
        padding: 16px;
        .title {
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            margin-bottom: -4px;
        }
        &__part {
            border: 0;
            margin: 0;
            padding: 0;
            margin-bottom: 8px;

            label {
                line-height: 18px;
                font-size: 12px;
            }
            .search {
                align-items: center;
                position: relative;
                display: flex;
                flex-grow: 1;
                width: 100%;

                .input {
                    border: 1px solid transparent;
                    border-left: none;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    appearance: none;
                    background: none;
                    border: none;
                    border-radius: 4px;
                    box-sizing: border-box;
                    display: block;
                    flex-grow: 1;
                    height: 36px;
                    line-height: 24px;
                    margin: 0;
                    outline: none;
                    padding: 4px 8px;
                    position: relative;
                    width: 100%;
                    z-index: 5;
                }
                .absolute {
                    background: #fff;
                    border-radius: 4px;
                    bottom: 0;
                    box-sizing: border-box;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
                .btnDown {
                    fill: currentcolor;
                    display: inline-block;
                    right: 5px;
                    top: 11px;
                    height: 16px;
                    z-index: 20;
                    color: currentColor;
                    position: absolute;
                    svg {
                        display: inline-block;
                        height: 100%;
                        vertical-align: top;
                        width: auto;
                    }
                }
            }
        }
    }
}
/* Ẩn nút ngày mặc định */
input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
}

/* Thêm hình ảnh mũi tên xuống */
input[type='date'] {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18 9.45c0 .2-.078.39-.22.53l-5 5a1.08 1.08 0 0 1-.78.32 1.1 1.1 0 0 1-.78-.32l-5-5a.75.75 0 0 1 0-1.06.74.74 0 0 1 1.06 0L12 13.64l4.72-4.72a.74.74 0 0 1 1.06 0 .73.73 0 0 1 .22.53zm-5.72 4.47zm-.57 0z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px 16px;
    padding-right: 20px; /* giữ khoảng cách cho văn bản */
}
