.BoxRoomItem {
    margin: 30px 0px;
    background: rgb(255, 51, 102, 0.1);
    padding: 15px;
    border-radius: 5px;
    padding-bottom: 0px;

    .BoxTitle {
        font-size: 20px;
        color: #15284a;
        font-family: 'os_bold';
        margin-bottom: 15px;
    }

    .BoxContent {
        display: grid;
        grid-template-columns: auto 840px;

        &__left {
            padding-right: 15px;
            width: 100%;
            overflow: hidden;
            min-height: 50px;
            width: 100%;

            &--img {
                height: 160px;
                overflow: hidden;
                margin-bottom: 20px;
                border-radius: 5px;
                cursor: pointer;

                img {
                    border: 0;
                }
            }

            &--facilities {
                &>div {
                    display: block;
                    width: 100%;
                    margin-bottom: 15px;
                    font-size: 13px;
                    color: #333333;
                    font-family: 'os_regular';
                    opacity: 1;

                    svg {
                        font-size: 16px;
                        color: #9aa2b2;
                        margin-right: 5px;
                    }
                }


            }
        }

        &__right {
            border-right-color: #fff;
            min-height: 50px;
            background: #fff;
            width: 100%;
            margin-bottom: 15px;
            border-radius: 5px;

            &--top {
                min-height: 60px;
                border-bottom: 1px solid #e6e6e6;
                padding: 0px 20px;
                display: grid;
                grid-template-columns: auto auto;
                line-height: 60px;
                font-size: 13px;
                color: #333333;
                font-family: 'os_regular';

                .box-passenger {
                    display: grid;
                    grid-template-columns: auto auto auto;

                    svg {
                        font-size: 20px;
                        font-size: 16px;
                        color: #9aa2b2;
                        font-family: icons;
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 1;
                        font-weight: 400;
                        font-style: normal;
                        speak: none;
                        text-decoration: inherit;
                        text-transform: none;
                        text-rendering: optimizeLegibility;
                        margin-bottom: 3px;

                    }

                    span {
                        color: #0da47e;
                        font-family: 'os_semi_bold';
                    }
                }

            }

            &--content {
                min-height: 220px;
                width: 100%;
                padding: 0px 20px;
                border-bottom: 1px solid #e6e6e6;
                display: grid;
                grid-template-columns: auto 250px;

                .title {
                    font-size: 14px;
                    color: #333333;
                    font-family: 'os_semi_bold';
                    padding-top: 20px;
                }

                .content {
                    display: grid;
                    grid-template-columns: auto auto;
                    font-size: 14px;
                    color: #333333;
                    font-family: 'os_regular';
                    margin: 10px 0px;

                    &>div {
                        margin-bottom: 15px;
                    }

                    svg {
                        font-size: 16px;
                        color: #0da47e;
                        margin-right: 10px;
                        font-family: icons;
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 1;
                        font-weight: 400;
                        font-style: normal;
                        speak: none;
                        text-decoration: inherit;
                        text-transform: none;
                        text-rendering: optimizeLegibility;
                        margin-bottom: 3px;

                    }
                }

                .label {
                    margin: 10px 0px;
                    display: inline-block;
                    font-family: 'os_semi_bold';
                    font-weight: normal;
                    background: #edeff2;
                    color: #333333;
                    padding: 5px;
                    border-radius: 5px;
                    font-size: 12px;
                }
            }

            &--bottom {
                min-height: 85px;
                width: 100%;
                padding: 0px 20px;
                display: grid;
                grid-template-columns: 250px auto;
                padding-left: 0px;

                .box-rule-price {
                    line-height: 85px;
                    margin-left: 10px;

                    span {
                        position: relative;
                        margin-left: -10px;

                        .labelEndow {
                            background: #e63148;
                            color: #ffffff;
                            font-family: 'os_semi_bold';
                            font-size: 12px;
                            padding: 5px 10px;
                            position: relative;
                            z-index: 2;
                        }

                        i {
                            content: "";
                            border: 10px solid #9f1917;
                            position: absolute;
                            left: -20px;
                            bottom: -16px;
                            border-left-color: transparent;
                            border-top-color: transparent;
                            border-bottom-color: transparent;
                        }
                    }
                }

                .box-price {
                    display: grid;
                    grid-template-columns: auto 250px;

                    &-inner {
                        text-align: right;
                        display: inline-block;
                        cursor: pointer;
                        opacity: 1;
                        font-size: 20px;
                        color: #ff9000;
                        font-family: 'os_bold';
                        padding-top: 25px;

                        .old {
                            text-decoration: line-through;
                            font-size: 14px;
                            color: #9aa2b2;
                            font-family: 'os_regular';
                        }

                        span {
                            color: #9aa2b2;
                            font-size: 12px;
                            font-family: 'os_regular';
                            display: block;
                            margin-bottom: 25px;
                        }
                    }
                }
            }

            &--note {
                display: grid;
                grid-template-columns: auto auto;
                padding-right: 15px;

                span {
                    line-height: 1;
                    color: #fff;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: baseline;
                    border-radius: 0.25em;
                    margin: 10px 0px;
                    display: inline-block;
                    font-family: os_semi_bold;
                    font-weight: normal;
                    background: #edeff2;
                    color: #333333;
                    padding: 10px;
                    border-radius: 5px;
                    font-size: 12px;
                }
            }
        }
    }
}