.container {
    display: flex;
    flex-direction: column;
    min-height: 500px;
}

.content {
    flex: 1;
    padding: 24px;

    .inform {
        display: flex;
        align-items: center;
        background-color: #fef3e7;
        color: #e07e06;
        padding: 12px;
        border-radius: 3px;
        border: 1px solid #fde4c9;
        margin-bottom: 28px;
        img {
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }
    }

    .bill {
        flex: 0.37;
        padding: 24px;
        background-color: rgba(255, 51, 102, 0.1);
        border-radius: 3px;
        .billHeader {
            padding-bottom: 24px;
            border-bottom: 1px solid #bfccd9;
            margin: 0;
            font-size: 2.2rem;
            line-height: 1.4;
            font-weight: 500;
        }

        .billBody {
            padding-top: 24px;
        }

        .billItem {
            margin-bottom: 24px;
        }

        .subTitle {
            color: #5a7087;
            font-size: 1.4rem;
        }
        .text {
            margin: 0;
            font-size: 1.6rem;
            line-height: 1.5;
            font-weight: 500;
        }
        .primary {
            font-size: 2.2rem;
            font-weight: 600;
            color: var(--primary-color);
        }
        sup {
            font-size: 60%;
            top: -0.8rem;
            left: -0.5rem;
        }
    }

    .qr {
        flex: 0.63;
        margin-bottom: auto;
        text-align: center;
        .title {
            max-width: 360px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 24px;
            font-size: 2.4rem;
            font-weight: 500;
        }
        .guide {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #1d9ec9;
            img {
                width: 24px;
                height: 24px;
                margin-right: 6px;
            }
        }
        .qrImageFrame {
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
        .qrImage {
            width: auto;
            margin: 70px 0;
        }
    }
}

.header {
    width: 100%;
    height: 72px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    padding: 16px 24px;
    border-bottom: 1px solid #eaedf1;
    img {
        max-height: 32px;
        max-width: 140px;
        position: relative;
        top: 4px;
    }
}

.footer {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    // -webkit-box-orient: horizontal;
    // -webkit-box-direction: normal;
    padding: 16px 24px;
    border-top: 1px solid #eaedf1;
}

.partFooter {
    display: flex;
    align-items: center;

    span {
        padding-left: 6px;
        margin: 0;
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 500;
        color: #1d9ec9;
    }
}

.imgWrapper {
    width: 40px;
    height: 40px;
    background: 0 0;
    border: 1px solid #eaedf1 !important;
    border-radius: 6px;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 24px;
        height: 24px;
    }
}
