.container {
    margin-top: 110px;
}

.subContainer {
    margin-top: 24px;
}

.spacing {
    margin-top: 70px;
}

.spacing2 {
    margin-top: -30px;
}

// hr {
//     border: 1px solid #edf2f7;
//     margin-top: 24px;
// }

// .box-slider {
//     display: grid;
//     grid-template-columns: 700px calc(100% - 700px);
//     height: 435px;
//     overflow: hidden;
//     cursor: pointer;
// }

// .box-item-1 {
//     border-radius: 5px;
//     overflow: hidden;
//     max-height: 435px;
//     padding-right: 0px;

//     img {
//         height: 435px;
//     }
// }

// .box-item-content {
//     overflow: hidden;
//     max-height: 435px;
//     padding-right: 0px;
// }

// .box-second {
//     border-radius: 5px;
//     height: 210px;
//     overflow: hidden;
//     padding-left: 5px;
// }

// .item-box-plus {
//     display: grid;
//     grid-template-columns: auto auto;
//     height: 225px;
//     padding-top: 5px;
//     padding-left: 5px;
// }

// .box-item-3 {
//     overflow: hidden;
//     border-radius: 5px;

//     img {
//         height: 225px;
//     }
// }

// .box-item-4 {
//     padding-left: 5px;
//     overflow: hidden;
//     border-radius: 5px;

//     img {
//         height: 225px;
//     }
// }

// img {
//     width: 100%;
// }

.single-box-content {
    margin-top: 0px;
}

.box-info {
    background: #fff;
    margin-top: 20px;
    border-radius: 5px;
}

.box-content {
    &-top {
        padding: 20px;
        padding-bottom: 0px;
    }

    &-bottom {
        border-top: 1px solid #e6e6e6;
        padding: 20px;
        padding-top: 0px;
    }
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;

    td {
        border-top: 0px;
        padding: 0px;
        line-height: 1.42857143;
        vertical-align: top;
        position: static;
        display: table-cell;
        float: none;
    }

}


.col-left {
    width: 870px;

    .box-info {
        text-align: left;
        display: block;
        margin-bottom: 15px;
    }
}

.boxTitle {
    background: #f4f7ff;
    font-size: 13px;
    font-family: 'os_semi_bold';
    color: #333333;
    text-transform: uppercase;
    padding: 5px;
}

.hotelTitle {
    h1 {
        font-size: 28px;
        color: #15284a;
        font-family: 'os_bold';
        line-height: 25px;
        border-bottom: 0px;
        margin-bottom: 7px;
        font-weight: 600;
    }
}

.boxAddress {
    margin-bottom: 15px;

    h3 {
        color: #9aa2b2;
        font-family: 'os_regular';
        font-size: 14px;
        margin: 0px;
    }
}

.box-star {
    padding-left: 15px;
}

.icon {
    color: #f6d738;
    font-size: 18px;
    padding: 0px 3px;

    &-fac {
        color: #333333;
        margin-left: 5px;

        &-detail {
            font-size: 20px;
            margin-right: 5px;
            font-family: icons;
            display: inline-block;
            vertical-align: text-top;
            line-height: 1;
            font-weight: 400;
            font-style: normal;
            text-decoration: inherit;
            text-transform: none;
            text-rendering: optimizeLegibility;
            margin-bottom: 25px;
        }
    }
}

.price-room-from {
    font-size: 20px;
    color: #333333;
    font-family: 'os_regular';
    margin-bottom: 5px;
    margin-top: 18px;
}

.price-old {
    text-decoration: line-through;
    font-size: 14px;
    color: #9aa2b2;
    font-family: 'os_regular';
}

.price-medium {
    color: #ff9000;
    font-size: 22px;
    font-family: 'os_bold';
    margin-bottom: 10px;

    span {
        color: #333333;
        font-size: 20px;
    }
}

.box-title {

    h2,
    h3 {
        font-size: 20px;
        color: #15284a;
        font-family: 'os_semi_bold';
        margin-bottom: 20px;
        font-weight: 600;
        //margin-top: 20px;
    }
}

.content-fac {
    width: 100%;

    &-first {
        margin-bottom: 30px;
    }
}

.box-readmore {
    text-align: center;
}

.btn {
    &-readmore {
        font-size: 17px;
        color: #ff3366;
        font-family: 'os_semi_bold';
        background: transparent;
        outline: 0;
        border: 0px;
        border-color: transparent;
    }
}

.box-map {
    background: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 300px;
    border-radius: 5px;
    margin-top: -130px;

    img {
        width: 295px;
        height: 200px;
    }
}

.content-item {
    width: 100%;
    font-size: 13px;
    color: #333333;

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: grid;
        grid-template-columns: auto auto auto;

        li {
            margin-bottom: 20px;
            padding-right: 15px;
        }
    }
}

.box-fac {
    box-sizing: border-box;
    margin-top: -70px;
}

.box-detail-fac {
    background: #fff;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.box-item-fac {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 265px auto;
    font-weight: 200;

    h3 {
        font-weight: 600;
        font-family: 'os_semi_bold';
    }
}

.items {
    display: grid;
    grid-template-columns: auto auto auto;
    border-bottom: 1px solid #e6e6e6;
}

.detailName {
    margin-top: 9px;
}

.down {
    margin-bottom: 5px;
}

.box-policy {
    background: transparent;
    padding: 0px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.panel-group {
    margin-bottom: 20px;
}

.panel {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border: 0px;
    margin-bottom: 15px;
}

.collapse {
    &:not(.show) {
        display: none;
    }
}

.hotelPolicyHour {
    display: flex;

    .hour {
        color: #1a202c;
        width: 120px;
        display: flex;
        border-left: 1px solid #cbd5e0;
        justify-content: space-around;

        .CheckInAndOut {
            color: #4a5568;
            font-size: 14px;
            font-weight: normal;
            line-height: 17px;
        }

        &Policy {
            color: #1a202c;
            font-size: 16px;
            font-weight: 600;
            line-height: 21px;
        }
    }
}

.hotelPolicyRegular {
    margin-top: 19px;
    max-height: 350px;
    line-height: 20px;

    .regular {
        display: flex;
        flex-direction: column;

        &Title {
            font-size: 14px;
            font-weight: 600;
            padding-bottom: 8px;
        }

        &Content {
            color: rgb(22, 22, 29);
            overflow: hidden;
            font-size: 14px;
            max-height: 132px;
            line-height: 19px;
            margin-bottom: 12px;
        }
    }
}

.usefulInformation {
    gap: 20px 50px;
    display: grid;
    margin-top: 16px;
    grid-template-columns: repeat(3, 1fr);

    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .partOfItem {
            display: flex;
            align-items: center;

            .text {
                padding-left: 12px;
            }
        }
    }
}