.wrap{
    margin-top: 130px;
}
.profileMenu{
    margin-bottom: 20px;
    .buttonMenu {
        border: none;
        background-color: white;
        font-size: 14px;
        font-weight: bold;
        padding: 0 90px 0 0;
        text-decoration: underline;
        &:hover {
            cursor: pointer;
        }
        &:has(input:checked) {
            color: #e93062;
        }
        input {
            display: none;
        }
    }
   
}





.wrapOfEmptyPage{
    text-align: center;
    .componentOfEmptyPage{
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .imageForEmptyInfo{
        width: 249px;
        height: 210px;
        margin: 0 auto;
    }
    .buttonSearchInReserve{
        width: 175px;
        font-weight: 600;
        margin: 0 auto;
    }
    .buttonSearchInWishList{
        width: 145px;
        font-weight: 600;
        margin: 0 auto;
        background-color: #00b6f3;
        border-color: #00b6f3;
    }

}