.wrap{
    margin-top: 130px;
    margin-left: 170px;
    margin-bottom: 4rem;
    // background-color: #fafcff;
 
}


.profileMenu{
    margin-bottom: 20px;
    .buttonMenu {
        border: none;
        background-color: white;
        font-size: 14px;
        font-weight: bold;
        padding: 0 90px 0 0;
        text-decoration: underline;
        &:hover {
            cursor: pointer;
        }
        &:has(input:checked) {
            color: #e93062;
        }
        input {
            display: none;
        }
    }
   
}



