.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -12px;
    margin-top: 16px;
}

.place {
    margin: 0px;
    width: fit-content;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    color: var(--text-color);
    background: white;
    margin-left: 12px;
    border-radius: 100px;
    border-color: #a0aec0;
    border: 1px solid rgb(204, 204, 204);

    &:hover {
        cursor: pointer;
        background: inherit;
    }

    &.active {
        cursor: default;
        color: #fff;
        background: #4a5568;
    }
}
