.container1 {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    padding: 15px;
    background: #fdd3d2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container2 {
    display: flex;
    flex-direction: column;

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 70px 70px 61px 75px;
    .back {
        font-size: 1.4rem;
        color: #00b6f3;
        span {
            margin-left: 8px;
        }
    }
}
.contact1-form {
    width: 390px;
    .contact1-form-title {
        display: block;
        font-family: Montserrat-ExtraBold;
        font-size: 30px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
        padding-bottom: 40px;
        font-weight: 600;
    }
    .wrap-input1 {
        position: relative;
        width: 100%;
        z-index: 1;
        margin-bottom: 40px;
        input {
            outline: none;
            border: none;
        }
        .input1 {
            display: block;
            width: 100%;
            background: #f6f6f6;

            font-size: 15px;
            line-height: 1.5;
            color: #111;
            font-weight: 300;
            height: 50px;
            border-radius: 5px;
            padding: 0 30px;
        }
        .shadow-input1 {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 0px 0px;
            color: rgba(87, 184, 70, 0.5);
        }
        label {
            position: absolute;
            top: -30px;
            padding-bottom: 20px;
            font-size: 14px !important;
        }
        .Image {
            margin-left: 7px;
            position: relative;
            top: 3px;
            transition: transform 0.4s;
            color: #fff;
            width: 100%;
            height: 100%;
        }

        textarea {
            border: none;
            min-height: 90px;
            border-radius: 25px;
            padding: 12px 30px;
            resize: none;
            margin-top: 10px;
        }
        textarea:hover {
            border: #333333;
        }
        .rating {
            display: flex;
            flex-wrap: nowrap;

            justify-content: space-around;
            padding-top: 30px;
            label {
                padding-top: 30px;
                top: -25px !important;
            }
        }
    }
    .formBtn {
        display: flex;
        justify-content: center;
    }
    .notifyError {
        color: red !important;
        font-weight: 500;
    }
    .radio {
        width: 42px;
        height: 18px;
        cursor: pointer;
        z-index: 1;
        border: 1px solid;
    }
}
.radio1 {
    cursor: pointer;
    z-index: 10;
}
