
.wrap{
    // background-color: #f8f9fc;
    // background-color: #00b6f3;
    // background-color: #fafcff;
    height: 100rem;
}

.wrapOfEmptyPage{
    text-align: center;
    .componentOfEmptyPage{
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .imageForEmptyInfo{
        width: 249px;
        height: 210px;
        margin: 0 auto;
    }
    .buttonSearchInWishList{
        width: 145px;
        font-weight: 500;
        margin: 0 auto;
        background-color: #00b6f3;
        border-color: #00b6f3;
    }

}

.buttonSave{
    width: 440px;
    background-color: rgb(255, 51, 102);
    height: 45px;
    margin-bottom: 30px;
    border-color: rgb(255, 51, 102);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    box-shadow: none;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    &:hover{
        cursor: pointer;
    }
}




.place {
    margin: 12px 0px;
    color: #1a202c;
    width: 100%;
    border: 1px solid #EDF2F7;
    display: flex;
    padding: 16px;
    font-size: 14px;
    background: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    transition: all 0.2s;
    font-weight: normal;
    line-height: 17px;
    border-radius: 8px;

    &__img {
        display: flex;
        overflow: hidden;
        align-items: center;
        border-radius: 8px;
        width: 286px;
        height: 214px;
        position: relative;

        .image {
            // position: absolute;
            height: 100%;
        }

    }

    &__detail {
        width: calc(100% - 286px);
        display: flex;
        position: relative;
        padding-left: 16px;

        &--content {
            width: 60%;
        }



        &--endow {
            color: #ffffff;
            padding: 2px 4px;
            font-size: 12px;
            font-weight: 600;
            line-height: 14px;
            border-radius: 4px;
            // width: 30%;
            background-color: rgb(255, 188, 57);
            margin-right: 6px;
        }

        &--title {
            display: -webkit-box;
            overflow: hidden;
            font-size: 16px;
            margin-top: -4px;
            transition: all 0.2s;
            font-weight: 600;
            line-height: 21px;
            padding-top: 4px;
            margin-bottom: 2px;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }



        .fa-star {
            color: #feda56;
        }

        &--star {
            position: relative;
            white-space: nowrap;

            .overlay--star {
                background: #fff;
                height: 100%;
                overflow: hidden;
                mix-blend-mode: color;
                position: absolute;
                top: 0;
                right: 0;
            }

            font-size: 1.2rem;
        }

        &--scored {
            display: flex;
            align-items: center;
            margin-bottom: 6px;

            &1 {
                color: #FF3366;
                display: flex;
                padding: 2px 4px 0;
                background: rgba(255, 51, 102, 0.1);
                align-items: center;
                font-weight: 600;
                border-radius: 4px;
            }

            &2 {
                margin: 0 4px;
            }

            &3 {
                color: #718096;
            }
        }

        &--map {
            width: fit-content;
            transition: all 0.3s;

            &:hover {
                color: #00B6F3;
                text-decoration: underline;
                cursor: pointer;
            }
        }

        &--map1 {
            margin-bottom: 0px;
            display: flex;

            .map1__icon {
                width: 16px;
                height: 16px;
            }

            .map1__content {
                display: -webkit-box;
                overflow: hidden;
                margin-left: 6px;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
        }

        &--map2 {
            color: #00B6F3;
            padding-left: 22px;
            margin-bottom: 6px;
        }

        &--status {
            display: flex;
            margin-bottom: 6px;

            .status__icon {
                width: 16px;
                height: 16px;
            }

            .status__content {
                display: -webkit-box;
                overflow: hidden;
                margin-left: 6px;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
        }

        &--service {
            color: #48BB78;
            display: flex;
            align-items: center;
            margin-bottom: 6px;
        }
    }



    .slick-prev {
        background: white !important;
        height: 36px !important;
        width: 36px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        z-index: 2 !important;
        border-radius: 100px !important;
        cursor: pointer !important;
        position: absolute !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
        border: 1px solid rgb(237, 242, 247) !important;
        left: 26px !important;
    }

    .slick-next {
        background: white !important;
        height: 36px !important;
        width: 36px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        z-index: 2 !important;
        border-radius: 100px !important;
        cursor: pointer !important;
        position: absolute !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
        border: 1px solid rgb(237, 242, 247) !important;
        right: -10px !important;
    }

    .slick-track {
        height: 100%;
    }

    .slick-list {

        height: 100%;
    }

    .slick-slider {


        position: relative;
        width: 286px;
        height: 214px;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;

        .slick-slide {
            &>div {
                height: 100% !important;
            }
        }
    }

    .slick-dots {

        bottom: 23px !important;
        height: 2px;
        margin: 0px;

        li {
            button:before {
                width: 6px !important;
                height: 6px !important;
                transition: all 0.2s !important;
                border-radius: 100px !important;
                // background-color: rgba(255, 255, 255, 0.5) !important;
                color: #ffffff !important;
            }

            // background-color: rgba(255, 255, 255, 0.5) !important;
            // color: rgba(255, 255, 255, 0.5) !important;
            // width: 6px !important;
            // height: 6px !important;
            // margin: 0 3px !important;
            // border-radius: 100px !important;
        }
    }

    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: #fff;
    }

    .slick-next:before,
    .slick-prev:before {
        content: '>' !important;
        color: black !important;
    }

}





.confirm {
    color: #ED8936;
    display: flex;
    font-size: 14px;
    text-align: center;
    align-items: center;
    line-height: 17px;

    &__icon {
        width: 16px;
        height: 16px;
    }

    &__switch {


        &--icon {

            width: 42px;
            height: 26px;
            margin: 8px;
            padding: 0;
        }

        input {
            display: none;
        }
    }


}










.card{
    display: flex;
    background-color: #fafcff;
    font-size: 14px;
    color: black;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 15px;
    border-radius: 10px;
    // width: 80%;
    &:hover{
        box-shadow: 3px 3px 8px rgb(209, 209, 209);
        // width: 80%;
        color: black;
        cursor: pointer;
    }

    .image{
        width: 288px;
        height: 215px;
        border-radius: 10px;
    }
    .info{
        margin-left: 20px;
        .name{
            font-size: 18px;
            font-weight: 500;
            &:hover{
                color:#00b6f3;
            }
        }
    }

}


.tag_1{
    background-color: orange;
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
}

.tag_2{
    background-color:  purple;
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
}

.point {
    color: var(--primary-color);
    padding: 2px 4px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 14px;
    background: rgba(255, 51, 102, 0.1);
    border-radius: 4px;
    span {
        margin-left: 4px;
    }
}

.rate {
    color: rgb(255, 188, 57);
    font-size: 1.2rem;
}

.type{
    border: 1px solid #f33266;
    color: #f33266;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    // border-color: #00b6f3;
}

.icon{
    margin-right: 5px;
    margin-top: 5px;
}

.evaluate{
    margin-left: 10px;
}

.numberOfEvaluate{
    color: gray;
    margin-left: 10px;
}

.image {
    width: 100%;
    height: 155px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border-radius: 8px 8px 0px 0px;
    position: relative;
}

.heartBtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.54);
    padding: 10px;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background: transparent;
    border: 0;
    border-radius: 50%;
    outline: 0;
    z-index: 2;

    &:hover {
        background: rgba(0, 0, 0, 0.04);
    }

    span {
        width: 100%;
        display: flex;
        align-items: inherit;
        justify-content: inherit;
    }
}