
.wrap{
    // background-color: #f8f9fc;
    // background-color: #00b6f3;
    height: 100rem;
}

.wrapOfEmptyPage{
    text-align: center;
    .componentOfEmptyPage{
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .imageForEmptyInfo{
        width: 249px;
        height: 210px;
        margin: 0 auto;
    }
    .buttonSearchInWishList{
        width: 145px;
        font-weight: 500;
        margin: 0 auto;
        background-color: #00b6f3;
        border-color: #00b6f3;
    }

}

.buttonSave{
    width: 440px;
    background-color: rgb(255, 51, 102);
    height: 45px;
    margin-bottom: 30px;
    border-color: rgb(255, 51, 102);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    box-shadow: none;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    &:hover{
        cursor: pointer;
    }
}


.card{
    display: flex;
    background-color: white;
    font-size: 14px;
    color: black;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 15px;
    border-radius: 10px;
    // width: 80%;
    &:hover{
        box-shadow: 3px 3px 10px rgb(190, 190, 190);
        // width: 80%;
        color: black;
        cursor: pointer;
    }

    .image{
        width: 288px;
        height: 215px;
        border-radius: 10px;
    }
    .info{
        margin-left: 20px;
        .name{
            font-size: 18px;
            font-weight: 500;
            &:hover{
                color:#00b6f3;
            }
        }
    }

}


.tag_1{
    background-color: orange;
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
}

.tag_2{
    background-color:  purple;
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
}

.point {
    color: var(--primary-color);
    padding: 2px 4px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 14px;
    background: rgba(255, 51, 102, 0.1);
    border-radius: 4px;
    span {
        margin-left: 4px;
    }
}

.rate {
    color: rgb(255, 188, 57);
    font-size: 1.2rem;
}

.type{
    border: 1px solid #f33266;
    color: #f33266;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    // border-color: #00b6f3;
}

.icon{
    margin-right: 5px;
    margin-top: 5px;
}

.evaluate{
    margin-left: 10px;
}

.numberOfEvaluate{
    color: gray;
    margin-left: 10px;
}
