.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-top: 1px solid #ccc;
}
.dataTables_paginate {
    padding: 0.3125rem;
    border-radius: 1rem;
    color: #6e6e6e;
    border-radius: 1rem;
    color: #6e6e6e;
    display: flex;
    align-items: center;
    // flex-flow: wrap;
}
.paginate_button {
    border: 0.0625rem solid var(--primary-color);
    border-radius: 11px;
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;

    margin: 0 10px;
    &:hover {
        color: #fff;
        background-color: rgba(255, 51, 102, 0.2);
        border-color: rgba(255, 51, 102, 0.1);
        cursor: pointer;
    }

    &.disabled {
        color: #ccc;
        background-color: #fff;
        border-color: #ccc;
        cursor: default;
    }

    &.current {
        background: var(--primary-color);
        color: #fff;
        cursor: default;
    }
}

.dataTables_info {
    margin-left: 2rem;
    font-size: 11.1872px;
}
