.container {
    width: 100%;
    padding-top: var(--height-header);
}

.videoBackground {
    position: absolute;
    left: 0;
    top: var(--height-header);
    width: 100%;
    height: 480px;
    object-fit: none;
    z-index: -1;
}

.content {
    width: var(--default-width);
    margin: auto;
}

.title {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 8px;
}

.subTitle {
    color: #4a5568;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.introduction {
    width: var(--default-width);
    height: 480px;
    margin: auto;
    p {
        font-size: 26px;
        max-width: 566px;
        font-weight: 600;
        line-height: 36px;
        color: #fff;
        margin-top: 40px;
    }
}

.shockPrice {
    width: 100%;
    padding: 44px 0;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-color);
    background: #edf6f9;

    .suggestTag {
        margin-top: 16px;
        display: flex;
        align-items: center;

        p {
            margin: 0;
            margin-right: 16px;
        }
        span {
            color: #00b6f3;
            cursor: pointer;
            margin-right: 16px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .hotels {
        margin-top: 16px;
        gap: 24px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .seeAll {
        display: flex;
        padding-top: 24px;
        justify-content: center;
    }
}

.favoriteDestination {
    margin: 0 auto;
    padding: 44px 0 0;
    max-width: 1188px;

    .destinations {
        width: 100%;
        height: 600px;
        position: relative;
    }

    .destination {
        position: absolute;
        text-align: center;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
        a {
            text-decoration: none;
        }

        .imageDestination {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 100%;
        }

        .nameDestination {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 0 12px;
            padding-bottom: 10px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            color: white;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.5%, rgba(0, 0, 0, 0.8) 100%);
            border-radius: 100%;
            p {
                width: 95%;
            }
        }

        &.id-0 {
            top: 167px;
            left: 0;
            width: 266px;
            height: 266px;
        }

        &.id-1 {
            top: 23px;
            left: 258px;
            width: 163px;
            height: 163px;
        }

        &.id-2 {
            top: 198px;
            left: 320px;
            width: 163px;
            height: 163px;
        }

        &.id-3 {
            top: 408px;
            left: 253px;
            width: 133px;
            height: 133px;
        }

        &.id-4 {
            top: 12px;
            left: 473px;
            width: 266px;
            height: 266px;
        }

        &.id-5 {
            top: 310px;
            left: 638px;
            width: 163px;
            height: 163px;
        }

        &.id-6 {
            top: 361px;
            left: 421px;
            width: 200px;
            height: 200px;
        }

        &.id-7 {
            top: -20px;
            left: 791px;
            width: 163px;
            height: 163px;
        }

        &.id-8 {
            top: 192px;
            left: 769px;
            width: 133px;
            height: 133px;
        }

        &.id-9 {
            top: 54px;
            left: 968px;
            width: 163px;
            height: 163px;
        }

        &.id-10 {
            top: 259px;
            left: 892px;
            width: 266px;
            height: 266px;
        }

        &.id-11 {
            top: 440px;
            left: 776px;
            width: 133px;
            height: 133px;
        }
    }
}

.banner {
    position: relative;
    width: 100%;
    height: 367px;
    margin-top: 79px;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    color: #ffffff;
    background-color: var(--primary-color);

    .contentBanner {
        height: 100%;
        width: var(--default-width);
        margin: auto;
        position: relative;
    }

    h1 {
        font-size: 30px;
        font-weight: 600;
        line-height: 36px;
    }

    p {
        margin: 12px 0 8px 0;
    }

    .list {
        padding: 0;
        padding-right: 36px;

        li {
            display: flex;
            align-items: center;

            span {
                padding: 8px 0;
                margin-left: 12px;
            }
        }
    }

    .qr {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }

    .appStoreLink,
    .chPlayLink {
        text-decoration: none;
        display: block;
        position: relative;
        z-index: 2;
    }

    .appStoreImg,
    .chPlayImg {
        width: 135px;
        height: 40px;
        border-radius: 4px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        padding-bottom: 5px;
    }

    .imageBanner {
        top: -72px;
        right: -30px;
        z-index: 1;
        position: absolute;
    }

    .iconBanner {
        top: 0;
        right: 0;
        z-index: 0;
        position: absolute;
    }
}
