// khung của module thuộc từng lựa chọn menu
.contentWrap {
    display: flex;
    justify-content: center;
}

.formInformation {
    border: 1px solid black;
    // width: 1200px;
    display: flex;
    border: 1px solid #edf2f7;
    display: flex;
    padding: 32px 0 42px 40px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 100px;
    background-color: #ffffff;
    .information {
        width: 440px;
        font-weight: 500;
        margin-top: 10px;
        .label {
            color: #727f95;

            span {
                color: rgb(255, 123, 123);
            }
        }
        .fieldInput {
            color: black;
            font-size: 15px;
            width: 440px;
            border: none;
            border-bottom: 1px solid rgb(202, 202, 202);
            // margin-top: -10px;
            margin-bottom: 2.5rem;
            margin-top: 6px;
            &:focus,
            :active {
                outline: 0;
                border-color: #10aadd;
            }
        }
    }
}

.profileAvt {
    margin: 10px 80px 0 50px;
    width: 130px;
    border-radius: 100%;
}
input {
    font-size: 16px;
}
.notice {
    color: red;
    font-size: 12px;
    display: flex;
    justify-content: end;
    // margin-top: -2rem;
    margin-bottom: 2.5rem;
    margin-top: -2rem;
    height: 3px;
}

.buttonSave {
    width: 440px;
    background-color: rgb(255, 51, 102);
    height: 45px;
    margin-bottom: 30px;
    border-color: rgb(255, 51, 102);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    box-shadow: none;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    &:hover {
        cursor: pointer;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 20%;
    height: 52px;
    font-size: 15px;
    background-color: #eff7ed;
    border-color: #eff7ed;
}

/* The Close Button */
.successIcon {
    // background-color: green;
    color: green;
    margin-right: 15px;
    font-size: 18px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 32px;
    font-weight: bold;
    margin-top: -12px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
