.vouchers {
    display: flex;
    padding: 30px 0;

    .voucher {
        width: calc(50% - 12px);
        margin: 12px 0px;
        border: 1px dashed rgba(255, 18, 132, 0.5);
        display: flex;
        padding: 16px 24px;
        background: rgba(255, 18, 132, 0.05);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        flex-direction: column;
    }

    .code {
        color: #ffffff;
        display: flex;
        padding: 2px 4px 1px 4px;
        font-size: 1.6rem;
        background: var(--primary-color);
        align-items: center;
        font-weight: normal;
        line-height: 1.9rem;
        margin-left: 6px;
        border-radius: 4px;
        text-transform: uppercase;
        justify-content: center;
    }

    .subTitle1 {
        font-size: 1.6rem;
        font-weight: 600;
        padding: 6px 0 10px;
        line-height: 2.2rem;
        color: #1a202c;
    }

    .subTitle2 {
        color: var(--primary-color);
        text-align: right;
        min-width: 118px;
        font-size: 1.4rem;
        line-height: 1.7rem;
        font-weight: normal;
        margin-left: 30px;
        cursor: pointer;
    }

    .subTitle3 {
        font-size: 1.3rem;
        color: #718096;
        font-style: italic;
    }
}
