.container {
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: var(--text-color);
    background-color: #ffffff;
    border: 1px solid #edf2f7;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.03);
    transition: box-shadow 0.4s;
}

.image {
    width: 100%;
    height: 155px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border-radius: 8px 8px 0px 0px;
    position: relative;
}

.heartBtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.54);
    padding: 10px;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background: transparent;
    border: 0;
    border-radius: 50%;
    outline: 0;
    z-index: 2;

    &:hover {
        background: rgba(0, 0, 0, 0.04);
    }

    span {
        width: 100%;
        display: flex;
        align-items: inherit;
        justify-content: inherit;
    }
}

.percentDiscount {
    position: absolute;
    top: -35px;
    left: -23px;
    width: 80px;
    height: 80px;
    background: var(--primary-color);
    border-radius: 50%;
    .percent {
        position: absolute;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.6rem;
        margin-top: 46px;
        margin-left: 32px;
        font-weight: 600;
        line-height: 21px;
        span {
            font-size: 1.2rem;
        }
    }
}

.promotion {
    left: 12px;
    bottom: 6px;
    display: flex;
    position: absolute;
    align-items: center;

    .contentPromotion {
        display: inline-block;
        max-width: 140px;
        padding: 2px 4px;
        overflow: hidden;
        font-size: 12px;
        font-weight: 600;
        line-height: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #fff;
        background: rgb(255, 188, 57);
        border-radius: 4px;
    }
}

.info {
    width: 100%;
    height: calc(100% - 155px);
    min-height: 220px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.rate {
    color: rgb(255, 188, 57);
    font-size: 1.2rem;
}

.type {
    padding: 2px 4px;
    margin-left: 6px;
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.place {
    margin-left: 6px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.point {
    color: var(--primary-color);
    padding: 2px 4px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 14px;
    background: rgba(255, 51, 102, 0.1);
    border-radius: 4px;
    span {
        margin-left: 4px;
    }
}

.evaluate {
    margin-left: 4px;
}

.numberFeedback {
    color: #4a5568;
    margin-left: 4px;
}

.oldPrice {
    color: #718096;
    text-decoration-line: line-through;
}

.curPrice {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.1rem;
}

.voucher {
    width: 100%;
    padding: 6px 8px;
    margin-top: 4px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    border: 1px dashed #cbd5e0;
    border-radius: 8px;
}

.voucherCode {
    color: #00b6f3;
    margin: 0 2px;
    overflow: hidden;
    max-width: 85px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.voucherPercent {
    padding: 2px;
    color: #ffffff;
    background-color: #00b6f3;
    border-radius: 4px;
}

.voucherPrice {
    color: #ff3366;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

.memberDiscount {
    p {
        font-size: 16px;
        line-height: 20px;
        margin: 0;
    }

    .percent {
        margin-left: 5px;
        color: #ff3366;
    }

    .subTitle {
        font-style: italic;
    }
}
