.box-popup-slider {
    height: 80vh;
    width: 1140px;
    overflow-y: auto;
}

.carousel-indicators {
    bottom: 20px;
    z-index: 15;
}

.carousel-indicators-image {
    height: 150px !important;
    margin-top: 50px !important;
    position: inherit !important;
    margin: 0px !important;
    left: 0px !important;
    display: block !important;
    width: 100% !important;
    text-align: left !important;
    overflow: auto !important;

    &>div {


        margin: 5px !important;
        opacity: 0.6 !important;
        border-radius: 5px !important;
        cursor: pointer !important;
        transition: all 0.5s !important;
        height: 75px !important;
        display: inline-block !important;
        width: 100px !important;
        vertical-align: top !important;
        overflow: hidden !important;
        margin-top: 0px !important;
        border: 2px solid transparent !important;
        text-indent: 0px !important;



        & img {
            border-radius: 5px !important;
            height: 75px;
        }
    }
}

.box-popup-content {
    background: #fff;
    min-height: 150px;
    position: relative;
    border-radius: 5px;

    &__button {
        font-size: 16px;
        color: #fff;
        font-family: 'os_semi_bold';
        border-radius: 5px;
        background: #FF3366;
        outline: 0;
        border: 0px;
        line-height: 50px;
        padding: 0px 20px;
        margin-top: 20px;
        width: 85%;
    }
}