.title {
    font-size: 15px;
}

.inline {
    text-align: start;
}

.card {
    padding-left: 40px;
    background-color: var(--grey);
    margin: 10px 60px;
}

.chooseTitle {
    margin-left: 60px;
    font-weight: bold;
    margin-top: 10px;
}

.content {
    height: 415px;
    animation: backInRight;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.input {
    // border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 0;
    overflow: hidden;
    position: relative;
    min-height: 40px;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    // border-radius: 4px;
    background-color: #fff;
    // margin-left: 14px;
    // margin-right: 8px;
}

.card1 {
    padding-left: 60px;

    span {
        background-color: rgb(239, 239, 239);
        font-size: 16px;
        padding: 8.5px 10px;
        box-shadow: none;
        border: 1px solid #ced4da;
        border-left: none;
        color: rgb(85, 85, 85);
        width: 100px;
        box-sizing: border-box;
    }

    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
}