.content {
    color: #1A202C;
    width: 100%;
    background: #EDF2F7;
}

.checkout {
    font-family: Mt;

    margin: 0 auto;
    display: flex;
    padding: 24px 0;
    max-width: 1188px;
    align-items: flex-start;

    .infor {
        width: 100%;
        display: flex;
        padding-right: 24px;
        flex-direction: column;

        &__regulation {
            color: #1A202C;
            padding: 24px;
            font-size: 14px;
            background: white;
            font-weight: normal;
            line-height: 17px;
            border-radius: 8px;
        }

        &__title {
            width: 100%;
            display: flex;

            &--img {
                width: 80px;
                height: 80px;
                margin-right: 12px;

                img {
                    width: 100%;
                    height: 100%;
                    position: relative;
                }
            }

            &--right {
                width: calc(100% - 112px);
            }

            &--name {
                font-size: 16px;
                font-weight: 600;
                line-height: 19px;
                margin-bottom: 4px;
            }

            &--star {
                display: flex;
                align-items: center;
            }

            &--utilities {
                color: #FF3366;
                border: 1px solid #FF3366;
                padding: 2px 4px;
                font-size: 12px;
                line-height: 14px;
                margin-left: 6px;
                white-space: nowrap;
                border-radius: 4px;
            }

            &--address {
                display: flex;
                padding-top: 10px;
            }
        }

        .infor__hour {
            display: flex;
            border-top: 1px solid #EDF2F7;
            margin-top: 16px;
            padding-top: 16px;

            .inforColumn {
                padding-right: 60px;
                display: flex;
                flex-direction: column;
            }
        }

        .inforContact {
            width: 100%;
            padding: 24px;
            background: white;
            margin-top: 12px;
            border-radius: 8px;

            .label {
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
            }

            .input {
                // border: 0;
                margin: 0;
                display: inline-flex;
                padding: 0;
                position: relative;
                min-width: 0;
                margin-right: 16px;
                flex-direction: column;
                vertical-align: top;
                min-width: 120px;
                width: 100%;

                .inputName {
                    margin-top: 2px;
                    border-radius: 8px;
                    margin-bottom: 0;
                    border: 1px solid #ced4da;
                    padding: 0;
                    overflow: hidden;
                    position: relative;
                    min-height: 40px;
                    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    border-radius: 4px;
                    background-color: #fff;

                    input {
                        color: #1a202c;
                        position: relative;
                        font-size: 14px;
                        border-radius: 4px;
                        font: inherit;
                        width: 100%;
                        border: 0;
                        margin: 0;
                        display: block;
                        min-width: 0;
                        background: none;
                        letter-spacing: inherit;
                        animation-duration: 10ms;
                        padding: 8px;

                        &:focus {
                            outline: 0;


                            border: 1px solid #00adef;
                        }



                    }
                }

                .error {
                    color: rgba(0, 0, 0, 0.54);
                    margin: 0;
                    font-size: 14px;
                    text-align: left;
                    font-family: Mt;
                    font-weight: normal;
                    line-height: 14px;
                    color: #E5322B;
                    min-height: 24px;
                    margin-top: 6px;
                }
            }

            .peopleTitle {
                font-size: 14px;
                line-height: 17px;
                margin-left: -16px;
            }

            .inforRecieve {
                font-size: 14px;
                margin-top: 16px;
                font-weight: 600;
                line-height: 17px;
                margin-bottom: 10px;
            }
        }

        .infor__sale {
            width: 100%;
            background: white;
            margin-top: 12px;
            border-radius: 8px;
            display: flex;
            font-size: 18px;
            align-items: center;
            font-weight: 600;
            line-height: 21px;
            margin-bottom: 10px;
            justify-content: space-between;

            .saleLabel {
                display: flex;
                padding: 18px 0 19px 16px;
                align-items: center;
            }

            .saleName {
                display: flex;
                align-items: center;
                position: relative;

                .saleNameLabel {
                    width: fit-content;
                    border: 1px solid #48BB78;
                    height: fit-content;
                    display: flex;
                    word-break: break-all;
                    align-items: center;
                    border-radius: 4px;
                    justify-content: center;
                    border-left-color: transparent;

                    .nameLabelColumn {
                        left: -1px;
                        display: flex;
                        position: absolute;
                        flex-direction: column;

                        .nameLabelColumnIcon {
                            width: 6px;
                            border: 1px solid #48BB78;
                            height: 6px;
                            transform: rotate(40deg);
                            background: transparent;
                            border-radius: 50%;
                            border-left-color: transparent;
                            border-bottom-color: transparent;
                        }
                    }

                    .nameLabelIcon {
                        margin: 8px;
                        width: 16px;
                        height: 16px;

                        svg {
                            color: #48BB78;
                        }
                    }

                    .nameLabelTitle {
                        color: #48BB78;
                        font-size: 14px;
                        text-align: center;
                        font-weight: 600;
                        line-height: 16px;
                        margin-right: 10px;
                    }
                }

                .saleNameEdit {
                    svg {
                        cursor: pointer;
                        margin: 0 24px;
                        color: #00B6F3;
                    }
                }
            }
        }

        .infor__submit {
            width: 100%;
            padding: 24px;
            font-size: 14px;
            background: white;
            margin-top: 12px;
            line-height: 17px;
            border-radius: 8px;

            .inforConfirm {
                color: #48BB78;
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 12px;
            }

            .paymentOnl {
                &:first-child {
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }

                color: inherit;
                border: 0;
                cursor: pointer;
                margin: 0;
                display: inline-flex;
                outline: 0;
                position: relative;
                align-items: center;
                border-radius: 0;
                justify-content: center;
                text-decoration: none;
                background-color: transparent;
                display: flex;
                padding: 0;
                min-height: 0;

                .paymentTiltle {
                    display: flex;
                    flex-grow: 1;
                    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    align-items: center;

                    span {
                        color: #1A202C;
                        font-size: 17px;
                        line-height: 19px;
                        margin-left: 12px;
                    }
                }
            }

            .submitButton {
                display: flex;
                align-items: flex-end;
                flex-direction: column;
            }
        }
    }

    .room {
        top: 75px;
        width: 480px;
        display: flex;
        position: sticky;
        flex-direction: column;

        .roomInfor {
            margin-bottom: 16px;
            width: 100%;
            border: 1px solid #EDF2F7;
            display: flex;
            padding: 24px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
            border-radius: 8px;
            flex-direction: column;
            background-color: #fff;

            .roomInforImg {
                width: 432px;
                height: 114px;
                position: relative;
                object-fit: cover;
                border-radius: 8px;

                .roomInforSale {
                    top: 0;
                    left: 0;
                    color: #ffffff;
                    width: 125px;
                    display: flex;
                    padding: 5px 10px;
                    z-index: 2;
                    position: absolute;
                    font-size: 18px;
                    background: #FF3366;
                    align-items: center;
                    font-weight: 600;
                    line-height: 21px;
                    white-space: nowrap;
                    border-radius: 8px 0;
                    justify-content: center;

                    .roomInforSaleLabel {
                        font-weight: 400;
                        font-size: 16px;
                        margin-right: 2px;
                    }
                }

                img {
                    width: 432px;
                    height: 114px;
                    position: relative;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }

            .roomDetail {
                font-size: 14px;
                margin-top: 12px;
                font-weight: 400;
                line-height: 17px;

                span {
                    font-size: 18px;
                    line-height: 21px;
                    font-weight: 600;
                    color: rgb(26, 32, 44);
                }
            }

            .detailPrice {
                color: #1a202c;
                display: flex;
                font-size: 14px;
                flex-direction: column;

                .columnFlex {
                    display: flex;
                    padding: 14px 0 12px;
                    position: relative;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    justify-content: space-between;
                    border-bottom: 1px solid #EDF2F7;
                    justify-content: space-between;

                    .priceSale {
                        font-size: 14px;
                        text-align: right;
                        font-weight: 400;
                        line-height: 16px;

                        .priceSale1 {
                            display: flex;
                            margin-top: 3px;
                            align-items: center;
                        }

                        .pricePercent {
                            color: #ffffff;
                            padding: 1px 3px;
                            font-size: 12px;
                            background: #FF3366;
                            font-weight: 600;
                            line-height: 14px;
                            border-radius: 4px;
                        }

                        .priceSaleOld {
                            color: #718096;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 14px;
                            margin-left: 6px;
                            text-decoration: line-through;
                        }
                    }

                    .labelSale {
                        border: 1px solid #A0AEC0;
                        padding: 4px 6px;
                        margin-left: 8px;
                        border-radius: 8px;
                        // display: flex;
                        font-size: 14px;
                        line-height: 17px;
                    }

                    .labelPrice {
                        color: rgb(72, 187, 120);
                        display: flex;
                        font-size: 14px;
                        line-height: 17px;
                    }
                }

                .priceRoom {
                    border-bottom: 1px solid rgb(237, 242, 247);
                    padding-bottom: 14px;
                }

                .afterSale {
                    border-bottom: 4px solid rgb(237, 242, 247);
                    font-weight: 600;
                    font-size: 16px;
                }

                .columnFlex1 {
                    display: flex;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 17px;
                    padding-top: 14px;
                    justify-content: space-between;
                }

                .vat {
                    color: #718096;
                    font-size: 12px;
                    margin-top: 4px;
                    font-weight: 400;
                    line-height: 14px;
                }

                .congratulation {
                    color: #FF3366;
                    display: flex;
                    background: #FFE7F3;
                    align-items: center;
                    border-radius: 8px;
                    padding: 6px;
                    margin-top: 4px;
                }
            }

        }
    }

}

.nameTitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 10px;
}

.inputRed {
    border: 1px solid #ef3c00 !important;

}