.wrap {
    // background-color: #fafcff;
    // background-color: #00b6f3;
    // height: 100rem;
    min-height: 100vh;
}

.wrapOfEmptyPage {
    text-align: center;
    .componentOfEmptyPage {
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .imageForEmptyInfo {
        width: 249px;
        height: 210px;
        margin: 0 auto;
    }
    .buttonSearchInWishList {
        width: 145px;
        font-weight: 600;
        margin: 0 auto;
        background-color: #00b6f3;
        border-color: #00b6f3;
    }
}

.buttonSave {
    width: 440px;
    background-color: rgb(255, 51, 102);
    height: 45px;
    margin-bottom: 30px;
    border-color: rgb(255, 51, 102);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    box-shadow: none;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    &:hover {
        cursor: pointer;
    }
}

.wrapOfInfoCard {
    margin-bottom: 20px;
    border-radius: 5px;
    color: #1a202c;
    display: flex;
    padding: 12px 16px;
    font-size: 14px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    transition: all 0.2s;
    border-radius: 8px;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;

    &:hover {
        box-shadow: 3px 3px 10px rgb(190, 190, 190);
        color: black;
        cursor: pointer;
    }
}

.headerCard {
    display: flex;
    justify-content: space-between;    
    border-radius: 10px 10px 0 0;
    
}
.lineCard {
    width: calc(100% + 32px);
    margin: 12px -16px;
    height: 1px;
    
    background-color: #edf2f7;
}

.footerCard {
    border-radius: 0 0 10px 10px;
    display: flex;
    box-shadow: 1px;

    .title {
        font-size: 18px;
        font-weight: 600;
        // line-height: 19px;
        display: inline-block;
        max-width: 400px;
        text-overflow: ellipsis;
        // margin-bottom: 8px;
        overflow: hidden;
    }
    .infoReserve {
        min-width: 305px;
        padding-right: 20px;
        .numberPerson {
            margin-top: 8px;
            font-size: 14px;
        }
    }
    .datesOfReserve {
        padding-right: 20px;
    }

}

.codeOrderFrame {
    display: flex;
    // margin-left: 20px;
}
.codeOrder {
    color: rgb(46, 186, 232);
}

.image {
    width: 175px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
    min-width: 175px;
    // margin: 0 20px 20px 20px;
}

.dates {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;
    padding-left: 24px;
    padding-top: 5px;
    border-left: 1px solid var(--border-color);
    .title {
        color: #4a5568;
        text-align: left;
        font-size: 15px;
        font-weight: 400;
        // line-height: 14px;
        margin-bottom: 10px;
    }
    .content {
        padding-top: 6px;
        min-width: 120px;
        color: var(--text-color);
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
    }

    .duration {
        border-radius: 50px;
        border: 1px solid rgba($color: #000000, $alpha: 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        margin-right: 50px;
        // margin-left: 20px;
        span {
            font-size: 14px;
            padding-right: 2px;
        }

        .icon {
            font-size: 12px;
            color: #888;
        }
    }
}

.stateOfReserve {
    // background-color:aquamarine;
    width: 100%;
    font-size: 14px;
    text-align: right;
    margin-right: 15px;
    .successRequest {
        color: rgb(122, 201, 4);
        margin-top: 10px;
    }
    .waitingConfirmLabel {
        background-color: orange;
        color: white;
        padding: 3px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 700;
    }
    .confirmedLabel {
        background-color: green;
        color: white;
        padding: 3px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 700;
    }
    .feedBackLabel {
        background-color: #ff3366;
        padding: 3.4px;
        margin-right: 5px;
    }
}

p {
    margin: 0;
}


