.container {
    width: 100%;
    background-color: rgb(250, 252, 255);
    padding-top: 30px;
    padding-bottom: 20px;
}

.wrap {
    width: var(--default-width);
    margin: auto;
    padding-top: 10px;
    // padding-left: 170px;
    // background-color: #fafcff;
}

.content {
    padding-top: 20px;
}

.profileMenu {
    // margin-bottom: 20px;
    margin: auto;
    .buttonMenu {
        border: none;
        background-color: white;
        font-size: 14px;
        font-weight: bold;
        padding: 0 90px 0 0;
        text-decoration: underline;
        &:hover {
            cursor: pointer;
        }
        &:has(input:checked) {
            color: #e93062;
        }
        input {
            display: none;
        }
    }
}
