.container {
    width: 1200px;
    height: 72px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    box-shadow: rgba(26, 32, 44, 0.05) 0px 10px 10px;
    .title {
        color: #4a5568;
        text-align: left;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
    }
    .content {
        padding-top: 6px;
        min-width: 120px;
        color: var(--text-color);
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
    }
}

.place {
    position: relative;
    width: 300px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: var(--text-color);
    z-index: 2;
    input {
        width: 100%;
        padding: 6px 0 7px;
        font: inherit;
        color: currentColor;
        border: none;
        outline: none;
    }
}

.dates {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;
    padding-left: 24px;
    border-left: 1px solid var(--border-color);

    .duration {
        border-radius: 50px;
        border: 1px solid rgba($color: #000000, $alpha: 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        margin-right: 50px;
        margin-left: 30px;
        span {
            font-size: 14px;
            padding-right: 2px;
        }

        .icon {
            font-size: 12px;
            color: #888;
        }
    }

    .calendar {
        position: absolute;
        left: 0;
        top: calc(100% + 24px);
        width: 1000px;
        z-index: 3;
    }
}

.room {
    padding-left: 24px;
    border-left: 1px solid var(--border-color);
    position: relative;
}
