.tableWrapper {
    margin-top: 30px;
    padding: 10px;
    background-color: #fff;
    border: 0 solid transparent;
    border-radius: 0.75rem;
    box-shadow: 0 0.3125rem 0.3125rem 0 rgba(82, 63, 105, 0.05);
    height: calc(100% - 30px);
    margin-bottom: 1.875rem;
    position: relative;
    transition: all 0.5s ease-in-out;

    .cusTable {
        background-color: #fff;
        thead {
            vertical-align: middle;
        }
        tbody {
            border-top: none !important;
        }
        img {
            height: 4.813rem;
            width: 9.375rem;
            border-radius: 0.75rem;
            margin-right: 1rem;
        }

        .title {
            font-size: 1.6rem;
            line-height: 1.6;
            font-weight: 600;
        }

        .text1 {
            font-size: 1.4rem;
            line-height: 1.6;
            font-weight: 500;
            color: #757575;
            &.primary {
                font-size: 1.6rem;
                font-weight: 600;
                color: #ff3366;
            }
        }

        .text2 {
            font-size: 1.4rem;
            line-height: 1.6;
            font-weight: 300;
            color: #757575;
            display: block;
            max-width: 180px;
        }

        .memberRow {
            td {
                border: none;
                padding: 20px 5px;
                vertical-align: middle;
            }
        }

        .center {
            text-align: center;
            // display: flex;
            // justify-content: center;
        }

        .status {
            cursor: default !important;
            padding: 7px 0;
            min-width: 100px;
            text-align: center;
        }
    }
}

.checkBox {
    appearance: none;
    height: 16px;
    width: 16px;
    border: 0.225rem solid #e7e7e7;
    border-radius: 0.25rem;
    position: relative;

    &:checked {
        // background-color: var(--primary-color);
        border-color: var(--primary-color);
    }

    &::after {
        background: var(--primary-color);
        border-radius: 0.15rem;

        content: '';
        height: 100%;
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
        transition: all 0.2s;
        width: 100%;
        margin: 0;
    }

    &:checked::after {
        -webkit-transform: translate(-50%, -50%) scale(0.6);
        transform: translate(-50%, -50%) scale(0.6);
    }
}

.voucherCode {
    color: #00b6f3;
    margin: 0 2px;
    overflow: hidden;
    font-size: 1.2rem;
    width: 85px;
    max-width: 85px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.voucherPercent {
    margin-left: 2px;
    font-size: 1rem;
    padding: 2px;
    color: #ffffff;
    background-color: #00b6f3;
    border-radius: 4px;
}

.point {
    color: var(--primary-color);
    padding: 2px 4px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 14px;
    background: rgba(255, 51, 102, 0.1);
    border-radius: 4px;
    width: fit-content;
    margin: auto;
    span {
        margin-left: 4px;
    }
}
