.carousel-indicators .active {
    background: transparent !important;
    opacity: 1 !important;
    border: 2px solid #085ae8 !important;
}

.swal2-popup {
    background: #2c3239 !important;
}

.carousel-inner .carousel-item {
    height: 430px;
    overflow: hidden;
}

.carousel-control-next,
.carousel-control-prev {
    bottom: 150px !important;

    svg {
        font-size: 40px;
    }
}

.carousel-control-prev-icon:before {
    content: "\e079";
}

.carousel-control-prev {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
}

.carousel-control-next {
    background-image: linear-gradient(to left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
}