.content {
    width: var(--default-width);
    margin: 0 auto;
    // max-width: 1188px;
    // width: 100%;
    margin: auto;
    margin-top: var(--height-header);
    font-family: Mt, -apple-system, BlinkMacSystemFont, sans-serif;
}