.input {
    border-radius: 8px;
    margin-bottom: 0;
    border: 1px solid #ced4da;
    padding: 0;
    overflow: hidden;
    position: relative;
    min-height: 40px;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    background-color: #fff;

    input {
        color: #1a202c;
        position: relative;
        font-size: 14px;
        border-radius: 4px;
        font: inherit;
        width: 100%;
        border: 0;
        margin: 0;
        display: block;
        min-width: 0;
        background: none;
        letter-spacing: inherit;
        animation-duration: 10ms;
        padding: 8px;

        &:focus {
            outline: 0;

            border: 1px solid #00adef;
        }
    }
}
.inputSelect {
    // padding: 8px;
    height: 10px;
    select {
        border: 1px solid #ced4da;

        height: 35px;
        width: 100%;
    }
}
.label {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-align: end;
    margin-top: 8px;
}
.paymentContent {
    .texarea {
        padding: 0px 60px;
    }
}
.title {
    font-size: 15px;
}
.chooseTitle {
    margin-left: 60px;
    font-weight: 600;
    margin-top: 10px;
}
