.card-table {
    & th {
        padding: 15px 16px;
        & :first-child {
            // margin-left: -4px;
        }
    } // background-color: #000;
}
.room-list-bx {
    img {
        height: 4.813rem;
        width: 9.375rem;
    }
}
.content {
    // padding: 24px 20px 20px 20px;
}

.tableWrapper {
    margin-top: 30px;
    padding: 10px;
    background-color: #fff;
    border: 0 solid transparent;
    border-radius: 0.75rem;
    box-shadow: 0 0.3125rem 0.3125rem 0 rgba(82, 63, 105, 0.05);
    height: calc(100% - 30px);
    margin-bottom: 1.875rem;
    position: relative;
    transition: all 0.5s ease-in-out;
    padding-bottom: 0;
    padding-top: 0px;
}
.cusTable {
    // overflow: hidden;

    .highlight {
        background-color: yellow;
    }
    tbody {
        border-top: 1px solid #f2f1f1 !important;
        tr:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }

    img {
        height: 5rem;
        width: 5rem;
        border-radius: 0.75rem;
        margin-right: 1rem;
    }

    .title {
        color: #000;
        font-size: 1.5rem;
        font-weight: 800;
        //padding: 1.25rem 0.9375rem;
        text-transform: capitalize;
        white-space: nowrap;
    }

    .text1 {
        font-size: 1.4rem;
        line-height: 1.6;
        font-weight: 500;
        color: #170a44;
        &.primary {
            font-size: 1.6rem;
            font-weight: 600;
            color: #ff3366;
        }

        h4 {
            line-height: 1.6;
            white-space: nowrap !important;
            margin-bottom: -18px;
        }
        span {
            font-size: 1.2rem !important;
            color: #e23428 !important;
            font-weight: 400;
        }
    }

    .date {
        font-size: 1.4rem;
        line-height: 1.6;
        font-weight: 500;
        color: #170a44;
        padding-left: 10px;
    }

    .text2 {
        font-size: 1.4rem;
        line-height: 1.6;
        font-weight: 400;
        color: #6e6e6e;
        display: block;
        max-width: 180px;
        padding-left: 10px;
    }

    .memberRow {
        td {
            border: none;
            padding: 20px 0;
            vertical-align: middle;
        }
    }

    .center {
        text-align: center;
        // display: flex;
        // justify-content: center;
    }

    .status {
        width: 111px !important;
        cursor: default !important;
        padding: 7px 25px !important;
        z-index: 100;
        &Pending {
            cursor: pointer !important;
            width: 131px !important;
            padding: 7px 7px;
        }
        &Pending1 {
            cursor: pointer !important;
            width: 131px !important;
            padding: 7px 7px;
        }
    }
    .btnDotted {
        z-index: 100;
        padding: 5px;
    }
}

.form1 {
    padding: 0.375rem 1rem !important;
    font-size: 2rem !important;
}
.btnSearch {
    padding: 11.5px;
}
.btnPending {
    border: transparent;
}

.checkBox {
    appearance: none;
    height: 16px;
    width: 16px;
    border: 0.225rem solid #e7e7e7;
    border-radius: 0.25rem;
    position: relative;

    &:checked {
        // background-color: var(--primary-color);
        border-color: var(--primary-color);
    }

    &::after {
        background: var(--primary-color);
        border-radius: 0.15rem;

        content: '';
        height: 100%;
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
        transition: all 0.2s;
        width: 100%;
        margin: 0;
    }

    &:checked::after {
        -webkit-transform: translate(-50%, -50%) scale(0.6);
        transform: translate(-50%, -50%) scale(0.6);
    }
}

.codeOrder {
    cursor: pointer;
}
.codeOrder:hover {
    color: #0d6efd;
}
.relative {
    position: relative;
}
